*{
    background-color: #df9441;
}

div{
    background-color: darksalmon;
}

.cl1{
    background-color: darkblue;
}

#id1{
    background-color: darkmagenta;
}

.cl2{
    background-color: deeppink;
}

#id2{
    background-color: gold;
}